.page {
	height: 100vh;
	font-size: 24px;
	color: black;
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	border: 1px solid black;
	padding: 10px;
	border-radius: 10px;
}

.display {
	font-size: 34px;
	height: 90px;
	background-color:beige;
	border: 1px solid black;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 5px;
}

.toolbar {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.button {
	cursor: pointer;
	min-width: 60px;
	min-height: 60px;
	font-size: 16px;
}