body {
	height: 100vh;
}

.page {
	height: 90%;
	font-size: 24px;
	color: black;
	background-color: #16181d;
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

/* calculator */
.container {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	border: 1px solid #f6f7f9;
	background-color: #876fc5;
	padding: 10px;
	border-radius: 10px;
}

.row {
	display: flex;
	gap: 5px;
}

.display {
	font-size: 34px;
	height: 90px;
	background-color:#efefef;
	border: 1px solid black;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 5px;
}

.toolbar {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.button {
	cursor: pointer;
	min-width: 60px;
	min-height: 60px;
	font-size: 16px;
	background-color:sandybrown;
}

.number {
	background-color: #efefef;
}

.clear {
	display: flex;
	width: 255px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-family: inherit;
	background-color:sandybrown;
}

/* footer */
.footer {
	height: 10%;
	display: flex;
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
	align-items: center;
	gap: 10px;
	color:#f6f7f9;
	background-color: #16181d;
	justify-content: center;
}

.footer__copyright {
	margin: 0;
}

@media screen and (max-width: 425px) {
	.footer {
		flex-direction: column;
		font-size: 15px;
	}
}

/* logo */
.logo-github {
	width: 25px;
  transition: transform 0.3s ease-in-out;
}

.logo-github:hover {
  transform: rotate(360deg) scale(1.1);
}